<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Battle</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div id="gameStat">
    <div th:if="${enemy.getHP() <= 0 && player.getHP() > 0}">
        <div class="text-center">
            <h3 class="h3 justify-content-center">Victory!</h3>
        </div>
        <div class="text-center">
            <a href="/battle/item"class="h3 justify-content-center btn btn-sm btn-primary">Next Stage</a>
        </div>
    </div>
    <div th:if="${player.getHP() <= 0}">
        <div class="text-center">
            <h3 class="h3 justify-content-center">Game Over!</h3>
        </div>
        <div class="text-center">
            <a href="/"class=" h3 justify-content-center btn btn-sm btn-primary">Home</a>
        </div>
    </div>
    <div th:if="${player.getHP() > 0 && enemy.getHP() > 0}" class="container">
        <div class="row">
            <div class="col-6">
            <h3 class="h3 d-flex justify-content-center">Player</h3>
            <p class="d-flex justify-content-center" th:text="'Name: '+${player.getName()}" th:if="${player.getName()!=''}"></p>
            <p class="d-flex justify-content-center" th:text="'Class: '+${player.getClassName()}"></p>
            <p class="d-flex justify-content-center" th:text="'Player HP: '+${player.getHP()} + '/' + ${player.getMaxHP()}"></p>
            <p class="d-flex justify-content-center" th:text="'Player MP: '+${player.getMana()} + '/' + ${player.getMaxMana()}"></p>
            <p class="d-flex justify-content-center" th:text="'Weapon Type: '+${weapon.getType()}"></p>
            <div class="card d-flex text-center" style="width: 18rem; margin: 0 auto 10px;" th:if="${items.size() > 0}">
                <div class="card-body">
                    <form class="form-group"
                          th:action="@{/battle/use}"
                          method="post">
                        <select class="form-control align-content-center" name="itemIndex">
                            <option disabled value="">Select Item</option>
                            <option th:each="item,iter: ${items}"
                                    th:value="${iter.index}"
                                    th:text="${item.getType()} + '(Mana: +'+${item.getMana()} + ', HP: +' + ${item.getHP()} + ')'">
                            </option>
                        </select>
                        <br>
                        <button class="btn btn-sm btn-primary" type="submit">Use Item</button>
                    </form>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-sm btn-primary" type="button" onclick="attack()">Attack</button>
                <button class="btn btn-sm btn-primary" type="button" onclick="skill()">Skill</button>
            </div>
            </div>
            <div class="col-6">
            <h3 class="h3 d-flex justify-content-center" th:text="${enemy.toString()}"></h3>
            <p class="d-flex justify-content-center" th:text="'Enemy HP: '+ ${enemy.getHP()} + '/' + ${enemy.getMaxHP()}"></p>
            <p class="d-flex justify-content-center" th:text="'Level: '+${enemy.getLevel()}"></p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <p th:text="${playerAttackLog}"></p>
        </div>
        <div class="row d-flex justify-content-center">
            <p th:text="${enemyAttackLog}"></p>
        </div>
    </div>

</div>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
    function attack() {
    $.get("attack/", function(result) {
        $("#gameStat").replaceWith(result);
    });
}

    function skill() {
    $.get("skill/", function(result) {
        $("#gameStat").replaceWith(result);
    });
}
</script>
</body>
</html>
