<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Character Creation</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<h3 class="h3 d-flex justify-content-center">Choose Your Class, Casul!</h3>
<div class="card d-flex text-center" style="width: 18rem; margin: 0 auto 10px;">
    <div class="card-body">
        <form class="form-group"
              th:action="@{/character/produce}"
              method="post">
            <select class="form-control align-content-center" name="heroClass">
                <option disabled value="knight">Select Class</option>
                <option th:each="factory: ${repo.getFactories()}"
                        th:value="${factory.getType()}"
                        th:text="${factory.getType()} + ' class'">
                </option>
            </select>
            <br>
            <input class="form-control align-content-center" type="text" name="heroName" value="W">
            <br>
            <button class="btn btn-sm btn-primary" type="submit">Create Hero</button>
            <br>
            <br>
            <a href="/character/battle/" class="btn btn-sm btn-primary">To Battle</a>
        </form>
    </div>
</div>

<div th:if="${player == null}">
    <h3 class="h3 d-flex justify-content-center">No Hero Produced</h3>
</div>

<div th:unless="${player == null}">
    <h3 class="h3 d-flex justify-content-center">Hero Produced!</h3>
    <div class="card d-flex text-center" style="margin: 0 auto 10px;">
        <div class="card-body">
            <p th:text="'Hero Name: ' + ${player.getName()}"></p>
            <p th:text="'Hero Type: ' + ${player.getClassName()}"></p>
            <p th:text="'Hero Base HP: ' + ${player.getHP()}"></p>
            <p th:text="'Hero Base MP: ' + ${player.getMana()}"></p>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
