<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Random Drop</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<h3 class="h3 d-flex justify-content-center">Random Drop</h3>
<p class="d-flex justify-content-center" th:text="'You got: '+${item.getType()}+' !'"></p>
<p class="d-flex justify-content-center" th:text="'Max HP: '+${player.getMaxHP()}"></p>
<p class="d-flex justify-content-center" th:text="'Max MP: '+${player.getMaxMana()}"></p>
<p class="d-flex justify-content-center" th:text="'Damage Point: '+${weapon.getAttack()}"></p>
<p class="d-flex justify-content-center" th:text="'Defense Point: '+${weapon.getDefense()}"></p>
<p class="d-flex justify-content-center" th:text="${UPGRADE_LOG}"></p>
<p class="d-flex justify-content-center" th:text="${ENHANCE_LOG}"></p>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
